.card {
  position: relative;
  border-top: 10px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 10px solid white;
  background-color: #00000022;
  margin: 2.5%;
  width: 230px;
  height: 460px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .moviePoster {
    position: absolute;
    top: 0;
    left: auto;
    overflow: hidden;
    background-size: 220px 338px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 102%;
    height: 340px;
    border-bottom: 2px white solid;
    filter: grayscale(100%);
    transition: filter 1.5s ease;
    display: grid;
    place-items: center;

    .movieYear {
      color: transparent;
      writing-mode: vertical-lr;
      text-orientation: upright;
      transition: color 1.5s ease;
      font-size: 3em;
      font-family: card-title;
    }
    &:hover {
      filter: none;
      > .movieYear {
        color: hotpink;
      }
    }
  }

  .titleWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 105px;
    width: 100%;
    padding: 1% 2%;
    display: grid;
    place-items: center;

    .movieTitle {
      color: white;
      text-align: center;
      font-size: 22px;
      line-height: 1.1em;
      font-family: "card-body";
      font-weight: 400;
      text-shadow: -4px 0 0px black, 0 -4px 0px black;
    }
  }
}
